[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Blockchain
py-solc-x = ">=1.1.1"

# Testing
pytest = ">=7.1.2"
pytest-html = ">=3.1.1"
coverage = ">=6.4.4"

# Ecnryption
cryptography = ">=37.0.4"

# Others
atlassian-python-api = ">=3.26.0"
prompt_toolkit = ">=3.0.30"
pyyaml = ">=6.0"

# IDE
autopep8 = ">=1.7.0"

# Build
build = ">=0.8.0"
twine = ">=4.0.1"

[dev-packages]

[requires]
python_version = "3.10"
